<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Digital Filter Design</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>


<body onload="draw();">
  <h1 id="title">Test the signal</h1>
 

  <div class="row">  <div >
    <script src = "/static/js/mouse.js"></script>
  </div>
</div>
  <div class="row">
    <div class="column">
      
    </div>
    <div class="column">
     helloooo
     
    </div>

    <div class="column">
        test test
    </div>
   
  </div>


    <div >
            <!-- 3shan yroh page tanya  -->
      <button class="button" onclick=""> <a href="/">Home</a>  </button> 

    </div>
   

</body>

</html>