<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Digital Filter Design</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>


<body onload="draw();">
  <h1 id="title">Test the signal</h1>
 
  <div class="row">
    <div class="column">
        <script src = "/static/js/mouse.js"></script>
    </div>
    <div class="column">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    </div>

    <div class="column">
      <div id='inputGraph' class='chart'”></div>
    </div>
   
  </div>


    <div >
            <!-- 3shan yroh page tanya  -->
      <button class="button" onclick=""> <a href="/">Home</a>  </button> 

    </div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('inputGraph',graphs,{});
    </script>

</body>

</html>