<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Digital Filter Design</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/draggable-points.js"></script>

<body onload="draw();">
  <h1 id="title">The Unit Circle Visualization</h1>
  <label>
  <!-- column 1 row 1 -->
  <div class="row">
    <div class="column">
    <input type="radio" id="zero" name="add" checked="true" />Add Zeros
    <input type="radio" id="pole" name="add" />Add Poles</label>
    <input type="checkbox" id="conj">Draw Conjugate<label>
    <button class="button" onclick="clearCanvas('zeros')">Clear Zeros</button>
    <button class="button" onclick="clearCanvas('poles');">Clear Poles</button>
    <button class="button" onclick="clearCanvas('all');">Clear All</button>
    <div class="property">
      <section class="slideshow" style="height: 250px;">
         <span id="target-1"></span>
         <span id="target-2"></span>
         <span id="target-3"></span>
         <span id="target-4"></span>
         <span id="target-5"></span>
         <span id="target-6"></span>
         <span id="target-7"></span>
         <span id="target-8"></span>
         <span id="target-9"></span>
         <span id="target-10"></span>
         <span id="target-11"></span>
         <span id="target-12"></span>
         <span id="target-13"></span>
         <span id="target-14"></span>
         <span id="target-15"></span>
         <span id="target-16"></span>
         <span id="target-17"></span>
         <span id="target-18"></span>
         <span id="target-19"></span>
         <!-- <a href="#" class="play">play</a> -->


         <div class="slideshow-item item-1">
          <div class="image-box">
            <img src="..\static\img\-0.9.png" />
            <input  type="checkbox" value="-0.9">-0.9
          </div>
            <a href="#target-19" class="arrow arrow-prev"></a>
            <a href="#target-2" class="arrow arrow-next"></a>
         </div>


         <div class="slideshow-item item-2">
          <div class="image-box">
            <img src="..\static\img\-0.8.png" alt="-0.8" />
            <input  type="checkbox" value="-0.8">-0.8
          </div>
            <a href="#target-1" class="arrow arrow-prev"></a>
            <a href="#target-3" class="arrow arrow-next"></a>
         </div>


         <div class="slideshow-item item-3">
            <div class="image-box">
              <img src="..\static\img\-0.7.png" alt="" />
              <input  type="checkbox" value="-0.7">-0.7
           </div>
            <a href="#target-2" class="arrow arrow-prev"></a>
            <a href="#target-4" class="arrow arrow-next"></a>
         </div>

         <div class="slideshow-item item-4">
          <div class="image-box">
            <img src="..\static\img\-0.6.png" alt="" />
            <input  type="checkbox" value="-0.6">-0.6
         </div>
            <a href="#target-3" class="arrow arrow-prev"></a>
            <a href="#target-5" class="arrow arrow-next"></a>
         </div>
         <div class="slideshow-item item-5">
          <div class="image-box">
            <img src="..\static\img\-0.5.png" alt="" />
            <input  type="checkbox" value="-0.5">-0.5
         </div>
          <a href="#target-4" class="arrow arrow-prev"></a>
          <a href="#target-6" class="arrow arrow-next"></a>
         </div>
        <div class="slideshow-item item-6">
          <div class="image-box">
            <img src="..\static\img\-0.4.png" alt="" />
            <input  type="checkbox" value="-0.4">-0.4
         </div>
          <a href="#target-5" class="arrow arrow-prev"></a>
          <a href="#target-7" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-7">
          <div class="image-box">
            <img src="..\static\img\-0.3.png" alt="" />
            <input  type="checkbox" value="-0.3">-0.3
         </div>
          <a href="#target-6" class="arrow arrow-prev"></a>
          <a href="#target-8" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-8">
          <div class="image-box">
            <img src="..\static\img\-0.2.png" alt="" />
            <input  type="checkbox" value="-0.2">-0.2
         </div>
          <a href="#target-7" class="arrow arrow-prev"></a>
          <a href="#target-9" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-9">
          <div class="image-box">
            <img src="..\static\img\-0.1.png" alt="" />
            <input  type="checkbox" value="-0.1">-0.1
         </div>
          <a href="#target-8" class="arrow arrow-prev"></a>
          <a href="#target-10" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-10">
          <div class="image-box">
            <img src="..\static\img\0.png" alt="" />
            <input  type="checkbox" value="0">0
         </div>
          <a href="#target-9" class="arrow arrow-prev"></a>
          <a href="#target-11" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-11">
          <div class="image-box">
            <img src="..\static\img\0.1.png" alt="" />
            <input  type="checkbox" value="0.1">0.1
         </div>
          <a href="#target-10" class="arrow arrow-prev"></a>
          <a href="#target-12" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-12">
          <div class="image-box">
            <img src="..\static\img\0.2.png" alt="" />
            <input  type="checkbox" value="0.2">0.2
         </div>
          <a href="#target-11" class="arrow arrow-prev"></a>
          <a href="#target-13" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-13">
          <div class="image-box">
            <img src="..\static\img\0.3.png" alt="" />
            <input  type="checkbox" value="0.3">0.3
         </div>
          <a href="#target-12" class="arrow arrow-prev"></a>
          <a href="#target-14" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-14">
          <div class="image-box">
            <img src="..\static\img\0.4.png" alt="" />
            <input  type="checkbox"  value="0.4">0.4
         </div>
          <a href="#target-13" class="arrow arrow-prev"></a>
          <a href="#target-15" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-15">
          <div class="image-box">
            <img src="..\static\img\0.5.png" alt="" />
            <input  type="checkbox"  value="0.5">0.5
         </div>
          <a href="#target-14" class="arrow arrow-prev"></a>
          <a href="#target-16" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-16">
          <div class="image-box">
            <img src="..\static\img\0.6.png" alt="" />
            <input  type="checkbox" value="0.6">0.6
         </div>
          <a href="#target-15" class="arrow arrow-prev"></a>
          <a href="#target-17" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-17">
          <div class="image-box">
            <img src="..\static\img\0.7.png" alt="" />
            <input  type="checkbox" value="0.7">0.7
         </div>
          <a href="#target-16" class="arrow arrow-prev"></a>
          <a href="#target-18" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-18">
          <div class="image-box">
            <img src="..\static\img\0.8.png" alt="" />
            <input  type="checkbox" value="0.8">0.8
         </div>
          <a href="#target-17" class="arrow arrow-prev"></a>
          <a href="#target-19" class="arrow arrow-next"></a>
        </div>
        <div class="slideshow-item item-19">
          <div class="image-box">
            <img src="..\static\img\0.9.png" alt="" />
            <input  type="checkbox" value="0.9">0.9
         </div>
          <a href="#target-18" class="arrow arrow-prev"></a>
          <a href="#target-1" class="arrow arrow-next"></a>
        </div>
        
      </section>
    </div>
    </div>
    <!-- column 2 row 1 -->
    <div class="column">
      <label>Custom Filter</label>
      <input class="text-field" type="text" id="text">
      <input class="button" onclick="addFilter()" type="submit" value="Add">
      <!-- 3shan yroh page tanya  -->
      <button class="button" onclick=""> <a href = mouse>Mouse signal</a> </button>
      <canvas id="unitCircle" width="200" height="200"></canvas>
    </div>
      <!-- column 3 row 1 -->
    <div class="column">
      <!-- upload signal area -->
      <label>Upload Signal</label>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input class="button" type=submit value=Upload>
      </form>
      <!-- uploaded signal shape -->
      <div id='uploadedGraph' class='chart'”></div>
    </div>
    <!-- <form style="padding:50px">
      <div class="multipleSelection">
        <div class="selectBox" onclick="showCheckboxes()">
          <select class="select">
            <option>Select filters</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkBoxes">
        </div>
      </div>
    </form> -->

  </div>
  <!-- </label> -->
  <!-- column 1 row 2 -->
  <div class="row">
    <div class="column">
      <canvas id="chart" height="300" width="400"></canvas>
    </div>
    <!-- column 2 row 2 -->
    <div class="column">
      <canvas id="chart2" height="300" width="400"></canvas>
    </div>
    <!-- column 3 row 2 -->
    <div class="column">
      <canvas id="chart3" height="300" width="400"></canvas>
    </div>
  </div>




  <!-- script to display uploaded signal -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <!-- <script type='text/javascript'>var graphs = {{graphJSON | safe}};Plotly.plot('uploadedGraph',graphs,{});</script> -->
  <script src="/static/js/graph.js"></script>
   

</body>
</html>